
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | What do you wanna do before you die?{% endblock %}

{% block body %}

    <h1>BucketList</h1>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis delectus dolorem earum error ex id illo incidunt ipsam maiores molestiae molestias, nulla quasi repudiandae totam ut velit vero voluptate.
    </div>
{% endblock %}

