{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mentions légales</h1>

    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}

{% block title %}

    {{ parent() }} | Mentions Légales


{% endblock %}

