{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mentions légales</h1>



{% endblock %}

{% block title %}

    {{ parent() }} | Mentions Légales

{% endblock %}

{% block js %}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}

