{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h1>Wish List !</h1>

            {% for wish in wishes %}
                <article>
                    <li><a href="{{ path('wish_detail', { id: wish.id })}}" title="Voir le détail">{{ wish.title }} | {{ wish.category.name }}</a></li>
                </article>
            {% endfor %}

    </section>


{% endblock %}

{% block title %}
    {{ parent() }} | Listes

{% endblock %}

